body {
  text-align: center;
  font-family: "Cookie", cursive;
  background-color: #f9edf8;
  background-image: url("../images/flower.PNG");
  background-position: right center;
  background-size: 200%;
  background-repeat: no-repeat;
}

button {
  background-color: #b088ae;
  border-color: #b088ae;
  font-family: "Arima", cursive;
}

hr {
  border-top: 0.1rem solid #b9a7b8;
  border-color: #b9a7b8;
  background-color: #b9a7b8;
  color: #b9a7b8;
}

a {
  color: #b088ae;
}

p {
  font-size: 1.5em;
  font-family: "Arima", cursive;
}

input[type="text"] {
  background-color: white;
  font-family: "Arima", cursive;
}
textarea {
  background-color: white;
  font-family: "Arima", cursive;
}

.copyright {
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 12em;
}

.mt-3 {
  margin-top: 3em;
}
.menu {
  width: 95%;
}

.social-media-icons {
  width: 3.5em;
  margin-right: 1em;
  text-align: center;
}
